.componentContainer{
    background-color: black;
    border-color: black;
    border-width:1px;
    border-style: solid;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;

}